@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-zoom: zoom 5s ease-in-out infinite alternate;
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}